.sweet-loading {
  height: 10em;
  padding: 50px 0px 120px;
  margin-left: -50px !important;
}

.view-all {
  width: 92px;
}

.custom-checkbox {
  float: right;
}

.custom-control-label,
.custom-control-label::before,
.custom-control-label::after {
  cursor: pointer;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f5c01f !important;
  border-color: #f5c01f !important;
  border: #ffffff solid 1px;
}

.custom-control-label {
  padding-top: 2px;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before,
.custom-switch
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(245, 192, 31, 0.25);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(245, 192, 31, 0.1);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
  color: white;
}

.not-available {
  margin: 6.7rem 0rem;
  color: #f5c01f;
  font-size: 1.6em;
}

.not-available img {
  margin-right: 20px;
}

.paginate {
  margin-top: 1rem;
  padding: 2px 10px;
  cursor: pointer;
}

.paginate:hover {
  color: #f5c01f;
  filter: brightness(95%);
}

.paginate-dot {
  margin-top: 1rem;
  padding: 2px 20px;
}

.splitscreen {
  display: flex;
  margin-top: 2.8%;
}
.splitscreen .left-content {
  flex: 0.2;
  max-width: 160px;
}
.splitscreen .right-content {
  flex: 1;
  max-width: 74%;
}

.container .media-status {
  padding-left: 2rem;
  color: green;
  float: right;
  margin-top: 3.1%;
}

.media-status-1 {
  padding-left: 2rem !important;
  color: green;
}

.media-status-1 .media-status-icon,
.media-status .media-status-icon {
  padding: 0px;
  opacity: 1;
}

.media-status-text {
  position: relative;
}

.magnifying-class {
  height: 1.9em;
  width: 1.9em;
}

.custom-control-1 {
  position: relative;
  min-height: 1.5rem;
}

.mobile-overview {
  display: none;
}

.mobile-left {
  margin-top: 20px;
}

.op {
  opacity: 0.91;
}

.help {
  cursor: pointer;
  color: #f5c01f;
}

@media screen and (max-width: 437px) {
  .paginate-dot {
    padding: 2px 0px;
  }
  .pagination-arrow {
    padding: 20px 5px !important;
  }
}

@media screen and (max-width: 442px) {
  .splitscreen .left-content {
    flex: 0.8 !important;
  }

  .laptop-overview {
    display: none;
  }

  .mobile-overview {
    display: block;
  }
}
