.footer {
  width: 100%;
  line-height: 60px;
  margin-top: 50px;
}

.fa {
  color: #ffffff;
  font-size: x-large !important;
  padding: 20px;
}

.fa-facebook-square:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-twitch:hover {
  color: #6441a4;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-youtube-play:hover {
  color: #ff0000;
}

.footer-container {
  text-align: center;
}

.linked-icons:hover {
  transform: scale(1.22);
  filter: brightness(85%);
}

.footer-row {
  line-height: 2em;
  margin-bottom: 10px;
}

.mar-top {
  margin-top: 15px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.5);
  min-width: fit-content;
  display: inline-block;
}

.footer-link:hover {
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.07);
}

.footer-copyright {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

.copyright {
  color: #ffffff;
  padding-right: 8px;
}

@media screen and (max-width: 768px) {
  .res-row {
    display: flex;
    flex-wrap: wrap;
  }
}
