.footer {
  width: 100%;
  line-height: 60px;
  margin-top: 50px;
}

.fa {
  color: #ffffff;
  font-size: x-large !important;
  padding: 20px;
}

.footer-container {
  text-align: center;
}

i:hover {
  transform: scale(1.15);
}

.footer-row {
  line-height: 2em;
  margin-bottom: 10px;
}

.mar-top {
  margin-top: 15px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.5);
  min-width: fit-content;
  display: inline-block;
}

.footer-link:hover {
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.07);
}

.footer-copyright {
  font-size: 14px;
  line-height: 20px;
}

.copyright {
  color: #ffffff;
  padding-right: 8px;
}

@media screen and (max-width: 768px) {
  .res-row {
    display: flex;
    flex-wrap: wrap;
  }
}
