.h3 {
  color: #f5c01f;
  margin-top: 1em;
}

.left-border {
  border-left: 2px solid #f5c01f;
  line-height: 1.12;
}

.sub-heading {
  margin-bottom: auto;
  color: #ffffff;
  margin-left: 10px;
  width: fit-content;
  background-image: linear-gradient(120deg, #f5c01f 0%, #f5c01f 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.sub-heading:hover {
  background-size: 100% 100%;
}

.sub-script {
  color: #ffffff;
}
