.label {
  float: left;
}

#forget-pwd {
  float: right;
  color: #007bff;
  cursor: pointer;
}

.eye {
  margin-left: -30px;
  float: right;
  margin-top: -31px;
  padding: 0px 11px !important;
  color: #282c34 !important;
  opacity: 0.5;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.eye:hover {
  opacity: 1 !important;
}

.custom-switch {
  text-align: left;
  margin-bottom: 1rem;
}

.custom-width {
  width: 10em;
}

.create-acc-btn-1 {
  background-color: #ebf6f7 !important;
  font-weight: 600 !important;
}

.create-acc-btn-1:hover {
  transform: scale(1.07);
  box-shadow: 2.5px 1.5px;
}

@media screen and (max-width: 768px) {
  .sign-in-register {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}
