.txt-center {
  text-align: center;
}

.custom {
  width: 16em;
  margin-bottom: 10px;
  border: 1px solid #212529 !important;
}

.btn-logo {
  height: 20px;
  width: 40px;
  margin-right: 10px;
  float: left;
}

.btn-logo-1 {
  height: 20px;
  width: 20px;
  margin: 0px 20px 0px 10px;
  float: left;
}

.btn-txt {
  float: left;
}

.divider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.divider span {
  position: absolute;
  margin-left: -28px;
  top: -11px;
  background: #fff;
  padding: 0 20px;
}

.create-acc-btn {
  background-color: #f5c01f !important;
  font-weight: 600 !important;
}
