.custom-card {
  width: 134px !important;
  border: 0px !important;
  border-radius: 10px;
  overflow: hidden;
}

.img-card {
  width: 100%;
}

.slide-text {
  /* background-image: linear-gradient(
    rgba(32, 35, 41, 0),
    rgba(32, 35, 41, 0.12) 5px,
    rgba(32, 35, 41, 0.52) 24px,
    rgba(40, 44, 52, 0.79) 40px,
    rgb(32, 35, 41) 56px,
    rgb(32, 35, 41) 100%
  ); */
  background-image: linear-gradient(
    rgba(18, 38, 66, 0),
    rgba(18, 38, 66, 0.12) 5px,
    rgba(18, 38, 66, 0.52) 24px,
    rgba(18, 38, 66, 0.79) 40px,
    rgb(18, 38, 66) 56px,
    rgb(18, 38, 66) 100%
  );
  bottom: 0;
  opacity: 0;
  color: #ffffff;
  padding: 30px 5px 7px 5px;
  position: absolute;
  width: 100%;
  -webkit-transition: opacity 0.25s ease-in,
    bottom 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: opacity 0.25s ease-in,
    bottom 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: opacity 0.25s ease-in,
    bottom 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  padding: 30px 10px 7px 5px;
}
